{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">Lista de Grupos</h2>

    <!-- Lista de Grupos -->
    <div class="list-group mb-4">
        {% for group in groups %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <!-- Información del Grupo -->
                <h5>Grupo: <strong>{{ group.name }}</strong></h5>
                <p class="mb-0 text-muted">Ambiente: <strong>{{ group.environment.name }}</strong></p>
            </div>
            <div class="d-flex align-items-center">
                <!-- Botón de Editar -->
                <a href="{% url 'edit_group' group.id %}" class="btn btn-outline-primary btn-sm me-2">Editar</a>
                
                <!-- Botón de Eliminar -->
                <form action="{% url 'delete_group' group.id %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar este grupo?');">Eliminar</button>
                </form>
            </div>
        </div>
        {% empty %}
        <div class="list-group-item text-center">
            <em>No hay grupos disponibles.</em>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% if groups.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ groups.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in groups.paginator.page_range %}
            <li class="page-item {% if groups.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if groups.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ groups.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Botón para Crear Nuevo Grupo -->
    <div class="text-center">
        <a href="{% url 'create_group' %}" class="btn btn-success">Crear Nuevo Grupo</a>
    </div>
</div>
{% endblock %}
