# Entorno virtual
venv/
# Archivos de configuración de IDE
*.vscode
*.idea
# Archivos de sistema
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
# Archivos estáticos
staticfiles/
media/
# Variables de entorno
.env

