{% extends "base/base.html" %}
{% block content %}
<div class="container">
    <h1>Gestión de Servicios</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="environment">Ambiente:</label>
            {{ form.environment }}
        </div>
    
        <div class="form-group">
            <label for="group">Grupo:</label>
            {{ form.group }}
        </div>
    
        <div class="form-group">
            <label for="host">Host:</label>
            {{ form.host }}
        </div>

        <div class="form-group">
            <label for="service_name">Servicio:</label>
            {{ form.service_name }}
        </div>
    
        <div class="form-group">
            <label for="action">Acción:</label>
            {{ form.action }}
        </div><br>

        <button type="submit" class="btn btn-primary">Ejecutar</button>
    </form>

    {% if status_output %}
        <pre>{{ status_output }}</pre>
    {% endif %}
</div>
{% endblock %}
